body {
  font-family: Arial, sans-serif;
  padding: 0;
  text-align: center;
  margin: 0;
  background-color: #caf0f8;
}

h1,
h2,
h3 {
  color: black;
}

.container {
  background-color: white;
  max-width: 90%;
  margin: 20px auto;
  padding: 30px;
  height: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

h3 {
  margin-top: 10px;
}

.case-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 20px;
  justify-content: center;
  padding: 20px;
}

.case-box {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003566;
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s;
}

.case-box:hover {
  background-color: #000814;
  transform: scale(1.04);
}

.case-box:nth-child(3) {
  grid-column: span 2;
}

@media (max-width: 900px) {
  .case-box {
    height: 160px;
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }

  .case-box {
    height: 150px;
    font-size: 20px;
  }
}
